jax~=0.5.0
numpy~=2.2.2
matplotlib~=3.10.0
jaxopt~=0.8.3
aquarel~=0.0.7
fonttools~=4.55.5
scipy~=1.15.1
flax~=0.10.2
controlgym @ git+https://github.com/xiangyuan-zhang/controlgym.git@86f4d02680c1c5f20e1f6b3a846b5ed57cbc3852
hydra-core
hydra-joblib-launcher